/* 
** Dark Theme Color Pallete 
*/
.theme-dark {
    /* Base Theme Colors */
    --background-primary: #1A1A1A;
    --background-secondary: #141414;
    --background-secondary-alt: #151515;
    --background-tertiary: #0A0A0A;
    --background-modifier-active: hsl(var(--primary-500-hsl)/0.5);
    --background-modifier-hover: hsl(var(--primary-500-hsl)/0.4);
    --background-modifier-selected: hsl(var(--primary-500-hsl)/0.3);
    --background-message-hover: hsl(var(--primary-900-hsl)/0.2);


    /* Modals */
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);

    /* Profiles */
    --profile-body-background-color: var(--background-primary);

    /* Text Area */
    --channeltextarea-background: #242424;

    /* Scrollbars */
    --scrollbar-auto-thumb: #0A0A0A;
    --scrollbar-auto-track: #151515;
    --scrollbar-thin-thumb: #000000;
    --scrollbar-thin-track: transparent;

    /* Input/Selection Boxes */
    --input-background: var(--background-tertiary);
}

/* 
** Tweaks 
*/
.theme-dark [aria-label="User area"] {
    /* Add a more visible border to the top of the user area */
    border-top: 1px solid var(--background-primary);
}

/*
** Fixes 
*/
.theme-dark {
    /* Fix Server Guide & Member-safety Background */
    --home-background: var(--background-primary);
}

.theme-dark div[class^="chat"]>[class^="content"],
.theme-dark div[class^="chat"]>[class^="container"],
.theme-dark div[class^="chat"]>[class^="header"],
.theme-dark div[class^="chat"] [class^="chat"]:not([class^="chatToasts"], [class^="chatIcon"]) {
    /* Janky Fix for bg's in "Channels & Roles" and pages alike */
    background-color: var(--background-primary);
}

.theme-dark div[class^="chat"] [class^="mainTableContainer"],
.theme-dark div[class^="chat"] [class^="profileCard"],
.theme-dark div[class^="chat"] [class^="sidebarCard"],
.theme-dark div[class^="chat"] [class^="prompt"],
.theme-dark div[class^="chat"] [class^="row"] {
    /* Recolor cards, tables and sections to stand out in special guild channels */
    background-color: var(--background-secondary);
}

.theme-dark div[class^="chat"] [class^="wrapper"] [class^="listItems__"] [class^="row"] {
    /* Fix "In Call" View */
    background-color: transparent !important;
}